@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #1f2937;
    --primary-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button-color: #3882F6;
}

.header {
    width: 100%;
    background-color: var(--background-color);
}

.header-wrap {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    font-family: 'Lato', sans-serif;
    color: var(--primary-text);
    font-size: 20px;
}

.nav-bar > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 30px;
}

.links > a {
    color: var(--secondary-text);
    text-decoration: none;
}

.hero {
    width: 100vw;
    height: 500px;
    background: var(--background-color);
}

.hero-container {
    max-width: 70vw;
    margin: 0 auto;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 50%;
}

.main-txt {
    color: var(--primary-text);
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 800;
    width: 50%;
}

.secondary-txt {
    color: var(--secondary-text);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    width: 60%;
    margin-top: 10px;
}

.hero-btn {
    display: block;
    margin: 10px 0;
    width: fit-content;
    padding: 7px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var(--secondary-text);
    background-color: var(--button-color);
}


.hero-image {
    max-height: 100%;
   
}

.hero-image > img {
    max-width: 100%;
    height: auto;
}

.about {
    width: 100vw;
    margin-top: 30px;
    padding-bottom: 50px;
}

.about-container {
    max-width: 70%;
    margin: 0 auto;
}

.about-head > h2 {
    color: var(--background-color);
    text-align: center;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.about-content > .content {
    margin-left: 45px;
}

.about-content > .content > img {
    border: 5px solid var(--button-color);
    border-radius: 10px;
}

.about-content > .content > h3 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 10px;
}